body {
  background: #009FFF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.parent {
  display: grid;
  gap: 1 rem;
  grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
  grid-template-rows: repeat(5, 1fr);
  gap: 30px;
  }
  
li {
  list-style: none;
  margin-bottom: 5px;
} 
button{
  
  background-color:#009FFF;
  color: aliceblue;
  margin: 2px;
  border-radius: 5px;
  height: 30px;
} 
